__pycache__
.vscode
dataset
*/dataset
*.zip
beach-data
*.MOV
*.mp4
*/data
*/bun.lock
*.venv
*.env
demo/Demo-1/video
demo/Demo-2/video
demo/Demo-3/video
demo/Demo-4/video
demo/Demo-5/video
app/video
app/clean_pycache.py
app/__pycache__