name: Build Python App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.12'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y binutils
          python -m pip install --upgrade pip
          pip install -r demo/Demo-5/requirements.txt

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/local/lib/android
          sudo apt-get clean
          df -h

      - name: Build executable
        run: |
          pyinstaller --onefile --clean --noconfirm demo/Demo-5/detection.py

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: detection-linux
          path: dist/detection
