name: Mirror All Branches

on:
  push:
    branches: '**'
  workflow_dispatch: 

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v3
        with:
          repository: ArielChambaz/Neptune
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN}}
          fetch-depth: 0

      - name: Mirror Push to Destination Repository
        run: |
          git remote add destination https://github.com/EpitechPromo2026/G-EIP-700-REN-7-1-eip-adrien.picot.git
          git push --mirror destination
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN}}