name: Mirror to Another GitHub Repository

on:
  push:
    branches:
      - '*'

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Push to the target repository
        env:
          TARGET_REPO: ${{ secrets.TARGET_REPO }} 
          TARGET_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }} 
        run: |
          git remote add target $TARGET_REPO
          git push target HEAD:refs/heads/${{ github.ref }} --force  # Pousse vers la même branche sur le dépôt cible
