name: Mirror Repository

on:
  push:
    branches:
      - '**'

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v2
        with:
          repository: ArielChambaz/Neptune
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.ref }}

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Remove .github directory
        run: |
          rm -rf .github

      - name: Stash changes
        run: |
          git stash --include-untracked

      - name: Pull from mirror repository
        run: |
          git remote add mirror git@github.com:EpitechPromo2026/G-EIP-700-REN-7-1-eip-adrien.picot.git
          git fetch mirror
          git pull mirror ${{ github.ref_name }} --allow-unrelated-histories --rebase

      - name: Push to mirror repository
        run: |
          git push mirror ${{ github.ref_name }} --force
          git push mirror --tags