name: Mirror All Branches

on:
  push:  # Lance le workflow à chaque changement sur le dépôt source
    branches: '**'  # Capture toutes les branches
  workflow_dispatch:  # Permet un déclenchement manuel

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v3
        with:
          repository: ArielChambaz/Neptune  # Remplace par ton dépôt source
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN}}
          fetch-depth: 0  # Nécessaire pour cloner toutes les branches

      - name: Mirror Push to Destination Repository
        run: |
          git remote add destination https://github.com/EpitechPromo2026/G-EIP-700-REN-7-1-eip-adrien.picot.git  # Remplace par ton dépôt miroir
          git push --mirror destination
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN}}